@font-face {
  font-family: cafe24;
  src: url("../font/Cafe24Ssurround.ttf");
}
@font-face {
  font-family: dangam;
  src: url("../font/ChangwonDangamAsac-Bold_0712.otf");
}
@font-face {
  font-family: gmarket;
  src: url("../font/GmarketSansBold.otf");
  font-weight: bold;
}
@font-face {
  font-family: gmarket;
  src: url("../font/GmarketSansMedium.otf");
  font-weight: medium;
}
@font-face {
  font-family: gmarket;
  src: url("../font/GmarketSansLight.otf");
  font-weight: light;
}

img {
  image-rendering: -moz-;
  image-rendering: -o-;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: auto;
  -ms-interpolation-mode: nearest-neighbor;
}
ul {
  list-style: none;
  padding: 0;
}
body {
  height: 100%;
  font-family: NotoSansKR, Roboto !important;
}
li {
  list-style: none;
  padding: 0;
}

.title-point span {
  color: #000;
  border-radius: 100%;
  padding: 10px 30px;
  background-color: #000;
  font-family: cafe24;
  font-size: 3rem;
}
.text-center {
  text-align: center;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.is-show {
  display: block;
}
.is-hide {
  display: none;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding: 0 15px;
  max-width: 500px;
  margin-bottom: 30px;
  width: 100%;
}
.navbar-default {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1) !important;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  font-size: 16px;
  font-weight: medium;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.navbar-brand img {
  width: 130px;
}

.forest-main {
  text-align: center;
  background-color: #b7cb87;
  padding: 30px 0;
}

.forest-main .title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  margin-top: 20px;
  font-family: gmarket;
  color: #fff;
}
.forest-main .descripstion {
  font-style: normal;
  font-weight: medium;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin-top: 20px;
  font-family: gmarket;
  color: #fff;
}
.forest-main p {
  font-family: gmarket;
  font-size: 24px;
  font-weight: medium;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.16px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.forest-main img {
  margin: 20px 0;
  max-width: 70%;
}
.forest-main .mongle-kakao {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
  outline: none;
  cursor: pointer;
}
.forest-main .mongle-kakao a {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: #2a5e39;
  border-radius: 10px;
  width: 80%;
  padding: 17px 0;
  display: block;
  outline: none;
  font-family: gmarket;
  text-decoration: none;
  margin: 0 auto;
}
.forest-main .mongle-instagram {
  width: 100%;
  margin: 0 auto;
  outline: none;
}

.forest-main .mongle-instagram a {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2a5e39;
  background: #fff;
  font-family: gmarket;
  border-radius: 10px;
  width: 100%;
  padding: 17px 0;
  border: 1px solid #2a5e39;
  display: block;
  outline: none;
  text-decoration: none;
}

.forest-main-sub {
  text-align: center;
  background-color: #c4d8ee;
  padding-top: 50px;
  padding-bottom: 30px;
}

.forest-main-sub .title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  margin-top: 20px;
  font-family: gmarket;
  color: #c4d8ee;
}
.forest-main-sub .descripstion {
  font-style: normal;
  font-weight: medium;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin-top: 20px;
  font-family: gmarket;
  color: #fff;
}
.forest-main-sub p {
  font-family: gmarket;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.16px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.forest-main-sub img {
  margin: 20px 0;
  max-width: 60%;
}
.forest-main-sub .mongle-kakao {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
  outline: none;
  cursor: pointer;
}
.forest-main-sub .mongle-kakao a {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: #2a5e39;
  border-radius: 10px;
  width: 80%;
  padding: 17px 0;
  display: block;
  outline: none;
  font-family: gmarket;
  text-decoration: none;
  margin: 0 auto;
}
.forest-main-sub .mongle-instagram {
  width: 100%;
  margin: 0 auto;
  outline: none;
}

.forest-main-sub .mongle-instagram a {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2a5e39;
  background: #fff;
  font-family: gmarket;
  border-radius: 10px;
  width: 100%;
  padding: 17px 0;
  border: 1px solid #2a5e39;
  display: block;
  outline: none;
  text-decoration: none;
}
.swiper-slide {
}
.swiper-slide .game-head {
  margin-top: 60px;
  text-align: center;
}
.swiper-slide .game-head .q-icon {
  max-width: 80px;
}
.swiper-slide .game-head .head-questions {
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 12px;
}
.swiper-slide .game-head .head-questions span {
  border-radius: 100%;
  font-family: gmarket;
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  text-align: center;
  color: #b7cb87;
}
.swiper-slide .game-head .head-progress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #000;
}
.swiper-slide .game-body .body-questions {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: #000;
  text-align: center;
  font-family: cafe24;
  font-weight: bold;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.body-choice ul {
  margin: 0 auto;
  width: 90%;
}
.body-choice ul li {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 11px 21px 7px 22px;
  border-radius: 7px;
  background-color: #b7cb87;
  box-sizing: border-box;
  margin-bottom: 12px;
  outline: none;
  font-family: cafe24;
  text-align: center;
  color: #fff;
}

.body-choice ul li:active {
  color: #ffffff;
  background-color: #6916ff;
  border: none;
}
.body-choice ul li:visited {
  color: #ffffff;
  background-color: #6916ff;
  border: none;
}

.type-zone .question {
  margin-top: 50px;
  color: #000;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}
.type-zone .title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #000;
  font-family: cafe24;
  margin-bottom: 20px;
}
.type-zone .point {
  color: #6916ff;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
}
.type-zone .type-image {
  text-align: center;
  margin: 20px 0 30px 0;
}
.type-zone .type-image img {
  width: 50%;
}
.type-zone .discription {
  padding: 10px;
  border-radius: 20px;
  font-family: cafe24;
  font-size: 2rem;
  color: #000;
}

.type-zone .discription li {
  position: relative;
  text-align: justify;
  letter-spacing: -0.03em;
  color: #000;
  margin-bottom: 10px;
  padding-left: 12px;
  font-family: cafe24;
}
.type-zone .discription li::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  left: 0px;
  top: 7px;

  background-color: #6916ff;
}
.loading-content {
  text-align: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading-content img {
  max-width: 169px;
}

.loading-text {
  color: #6916ff;
  font-size: 18px;
  line-height: 31px;
  font-weight: bold;
  margin-top: 20px;
}

.bottom-default {
  margin: 25px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
}
.bottom-default p {
  font-family: gmarket;
  font-size: 24px;
  font-weight: medium;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.16px;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.emoji-title {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: -0.42px;
  color: #000;
}
.emoji-title span {
  padding-left: 5px;
}
.swiper-button-next {
  cursor: pointer;
}
.swiper-button-next:hover {
  background-color: #6916ff;
  color: #fff;
}

.result.typeA .instagram {
  background-color: #87753f;
}
.result.typeB .instagram {
  background-color: #f9b24a;
}
.result.typeC .instagram {
  background-color: #f0ce57;
}
.result.typeD .instagram {
  background-color: #a4a4a4;
}

.result .instagram p {
  font-family: gmarket;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.96;
  letter-spacing: -0.16px;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.result .instagram .instagram-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-top: 10px;
  margin-bottom: 16px;
}
.result .instagram .instagram-img img {
  width: 49%;
}
.result .instagram .conect {
  padding: 7px 42.5px 8px 41.5px;
  color: #000;
  background-color: #fff;
  border-radius: 25px;
  font-family: gmarket;
  font-size: 18px;
}

.instagram {
  padding: 20px;
  border-radius: 30px;
  text-align: center;
}
.instagram a {
  font-weight: medium;
  font-family: gmarket;
  font-size: 16px;
  color: #fff;
}
.instagram a:hover {
  color: #fff;
}
.instagram img {
  width: 100%;
}
.instagram .instagram-title {
  margin-bottom: 20px;

  font-family: gmarket;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  text-align: center;
  color: #fff;
}
/* ----------------------------------------------
* Generated by Animista on 2020-11-14 21:40:2
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation shake-vertical
* ----------------------------------------
*/
.shake-vertical {
  -webkit-animation: shake-vertical 3s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: shake-vertical 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

@media (max-width: 991px) {
  .navbar-brand {
    padding: 7px 15px !important;
  }
}
@media (min-width: 600px) {
  .wrapper {
    margin: 30px auto;
  }
}
