.introduce {
  margin-top: 32px;
  margin-bottom: 80px;
}
.introduce ul li {
  display: flex;
  width: 100%;
  background: #ffffff;
  border: 1px solid #dedede;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  margin-bottom: 24px;
}
.introduce ul li .introduce-word {
  width: 50%;
  padding: 40px;
}
.introduce ul li .introduce-image {
  width: 50%;
}
.introduce ul li .introduce-image img {
  width: 100%;
}
.introduce ul li .introduce-word span {
  font-size: 18px;
  line-height: 18px;
  color: #a7a7a7;
}
.introduce ul li .introduce-word .introduce__title {
  margin-top: 14px;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: #171616;
  margin-bottom: 40px;
}
.introduce ul li .introduce-word .introduce__description {
  font-size: 18px;
  line-height: 28px;
  color: #171616;
  margin-bottom: 60px;
}

@media (max-width: 766px) {
  .introduce-mobile {
    margin-bottom: 80px;
  }
  .introduce-mobile-content {
    display: block;
    width: 100%;
    margin-top: 32px;
    height: 480px;
  }
  .front__order {
    font-size: 16px;
    line-height: 16px;
    color: #a7a7a7;
    margin-top: 16px;
    padding: 0 20px;
    margin-bottom: 8px;
  }
  .front__title {
    font-weight: bold;
    padding: 0 20px;
    font-size: 22px;
    line-height: 30px;
    color: #171616;
    margin-bottom: 36px;
  }
  .front img {
    width: 100%;
    height: 344px;
  }
  .back__order {
    font-size: 16px;
    line-height: 16px;
    color: #a7a7a7;
    margin-top: 16px;
    padding: 0 20px;
    margin-bottom: 8px;
    padding: 0 20px;
  }
  .back__title {
    font-weight: bold;
    padding: 0 20px;
    font-size: 22px;
    line-height: 30px;
    color: #171616;
    margin-bottom: 44px;
    padding: 0 20px;
  }
  .back__discription {
    font-size: 16px;
    line-height: 24px;
    color: #171616;
    margin-bottom: 80px;
    padding: 0 20px;
  }
  .back__tag {
    font-size: 16px;
    line-height: 16px;
    color: #a7a7a7;
    padding: 0 20px;
  }
  .introduce-mobile-content .card {
    width: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  .introduce-mobile-content .card .front,
  .introduce-mobile-content .card .back {
    position: absolute;
    flex-direction: column;
    backface-visibility: hidden;
    width: 100%;
    height: 480px;
  }

  .introduce-mobile-content .card .front {
    background: #ffffff;
    border: 1px solid #dedede;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
  }
  .introduce-mobile-content .card .back {
    background: #ffffff;
    border: 1px solid #dedede;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
  }

  .introduce-mobile-content .card2 {
    width: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  .introduce-mobile-content .card2 .front,
  .introduce-mobile-content .card2 .back {
    position: absolute;
    flex-direction: column;
    backface-visibility: hidden;
    width: 100%;
    height: 480px;
  }
  .introduce-mobile-content .card2 .front {
    background: #ffffff;
    border: 1px solid #dedede;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
  }
  .introduce-mobile-content .card2 .back {
    background: #ffffff;
    border: 1px solid #dedede;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
  }

  .introduce-mobile-content .card3 {
    width: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  .introduce-mobile-content .card3 .front,
  .introduce-mobile-content .card3 .back {
    position: absolute;
    flex-direction: column;
    backface-visibility: hidden;
    width: 100%;
    height: 480px;
  }
  .introduce-mobile-content .card3 .front {
    background: #ffffff;
    border: 1px solid #dedede;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
  }
  .introduce-mobile-content .card3 .back {
    background: #ffffff;
    border: 1px solid #dedede;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
  }
}
