@font-face {
  font-family: cafe24;
  src: url("../font/Cafe24Ssurround.ttf");
}
@font-face {
  font-family: dangam;
  src: url("../font/ChangwonDangamAsac-Bold_0712.otf");
}
@font-face {
  font-family: gmarket;
  src: url("../font/GmarketSansBold.otf");
  font-weight: bold;
}
@font-face {
  font-family: gmarket;
  src: url("../font/GmarketSansMedium.otf");
  font-weight: 500;
}
@font-face {
  font-family: gmarket;
  src: url("../font/GmarketSansLight.otf");
  font-weight: light;
}
img {
  image-rendering: -moz-;
  image-rendering: -o-;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: auto;
  -ms-interpolation-mode: nearest-neighbor;
}
ul {
  list-style: none;
  padding: 0;
}
body {
  height: 100%;
  font-family: NotoSansKR, Roboto !important;
}
li {
  list-style: none;
  padding: 0;
}
.container {
  padding: 0 !important;
  height: 100vh;
}
.body-color {
  background-color: #fff;
  transition: ease-in-out;
}
.text-center {
  text-align: center;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.is-show {
  display: block;
}
.is-hide {
  display: none;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 50px; */
  /* padding: 0 15px; */
  max-width: 414px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.swipe-zone {
  height: 100%;
}

.navbar-default {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1) !important;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.navbar-brand {
  width: 130px;
}
.style_sunmi-deco {
  width: 100%;
  padding: 40px 30px;
}
.style_sunmi-main {
  text-align: center;
  padding: 0px 15px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.style_sunmi-main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.style_sunmi-main .title {
  font-style: normal;
  font-size: 43px;
  line-height: 1.11;
  text-align: center;
  font-weight: bold;
  font-family: gmarket;
  color: #000;
  margin-bottom: 30px;
}

.style_sunmi-main .title span {
  position: relative;
}
.style_sunmi-main .title span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0;
  bottom: -14px;
  background-color: #ff8ccc;
}
.style_sunmi-main .title-sub {
  font-family: gmarket;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.13px;
  text-align: center;
  color: #000;
}
.style_sunmi-main p {
  font-family: gmarket;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.13px;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.style_sunmi-main .style_sunmi_baner {
  max-width: 380px;
  width: 100%;
  margin: 40px 0px 40px 0px;
}
.style_sunmi-main .mongle-word {
  font-family: gmarket;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.16px;
  text-align: center;
  color: #000;
  margin-bottom: 10px;
}
.style_sunmi-main .mongle-kakao {
  margin: 0 auto;
  margin-bottom: 12px;
  outline: none;
  cursor: pointer;
}
.style_sunmi-main .mongle-kakao a {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: #ff8ccb;
  border-radius: 20px;
  width: 100%;
  padding: 17px 0;
  display: block;
  outline: none;
  text-decoration: none;
}
.style_sunmi-main .mongle-instagram {
  width: 242px;
  margin: 0 auto;
  outline: none;
}

.style_sunmi-main .mongle-instagram a {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6916ff;
  background: #ffffff;
  border-radius: 50px;
  width: 100%;
  border: 1px solid #6916ff;
  padding: 17px 0;
  display: block;
  outline: none;
  text-decoration: none;
}
.swiper-slide {
  padding: 0 15px;
}
.swiper-slide .game-head {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}
.swiper-slide .game-head .head-bg {
  width: 240px;
  margin-bottom: 56px;
}
.swiper-slide .game-head .head-questions {
  font-family: gmarket;
  font-size: 27px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  text-align: center;
  color: #f48ec7;
}
.swiper-slide .game-head .progress {
  height: 9px;
  position: relative;
  overflow: inherit;
  margin-bottom: 80px;
}

.course_1 .game-head .progress::after,
.course_2 .game-head .progress::after,
.course_3 .game-head .progress::after,
.course_4 .game-head .progress::after,
.course_5 .game-head .progress::after,
.course_6 .game-head .progress::after,
.course_7 .game-head .progress::after,
.course_8 .game-head .progress::after,
.course_9 .game-head .progress::after,
.course_10 .game-head .progress::after {
  content: "";
  background: url("../images/style_sunmi/progress_icon.png");
  background-size: contain;
  width: 45px;
  height: 33px;
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  display: inline;
}
.swiper-slide .course_2 .game-head .progress::after {
  left: 16%;
}
.swiper-slide .course_3 .game-head .progress::after {
  left: 26%;
}
.swiper-slide .course_4 .game-head .progress::after {
  left: 36%;
}
.swiper-slide .course_5 .game-head .progress::after {
  left: 46%;
}
.swiper-slide .course_6 .game-head .progress::after {
  left: 56%;
}
.swiper-slide .course_7 .game-head .progress::after {
  left: 66%;
}
.swiper-slide .course_8 .game-head .progress::after {
  left: 76%;
}
.swiper-slide .course_9 .game-head .progress::after {
  left: 83%;
}
.swiper-slide .course_10 .game-head .progress::after {
  left: 95%;
}
.swiper-slide .game-head .progress .progress-bar {
  background-color: #f48ec7;
  border-radius: 60px;
}
.swiper-slide .game-body {
  text-align: center;
}
.swiper-slide .game-body .body-bg {
  width: 240px;
  margin-top: 56px;
}
.swiper-slide .game-body .body-questions {
  font-family: gmarket;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #000;
  margin-bottom: 80px;
  word-break: keep-all;
}
.body-choice ul li {
  width: 100%;
  font-style: normal;
  font-family: gmarket;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 15px;
  color: #fff;
  text-align: center;
  background-color: #f48ec7;
  box-sizing: border-box;
  border-radius: 7px;
  margin-bottom: 12px;
  outline: none;
  word-break: keep-all;
}

.body-choice ul li:active {
  color: #ffffff;
  background-color: #6916ff;
  border: none;
}
.body-choice ul li:visited {
  color: #ffffff;
  background-color: #6916ff;
  border: none;
}

.type-zone .question {
  margin-top: 50px;
  color: #3c3c3c;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}
.type-zone .title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #000;
  font-family: gmarket;
  margin-bottom: 30px;
}
.type-zone .title span {
  position: relative;
}
.type-zone .title span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0;
  bottom: -14px;
}
.type1 .title span::after {
  background-color: #f48ec7;
}
.type2 .title span::after {
  background-color: #a0d5c0;
}
.type3 .title span::after {
  background-color: #f7abab;
}
.type4 .title span::after {
  background-color: #8c9cdf;
}
.type5 .title span::after {
  background-color: #e6bc8c;
}

.type-zone .point {
  color: #6916ff;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
}
.type-zone .type-image {
  text-align: center;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.type-zone .type-image .type-image-main {
  width: 70%;
  margin-bottom: 16px;
}
.type-zone .type-image .type-image-sub {
  width: 100%;
  max-width: 38px;
}
.type-zone .discription {
  padding: 16px 0;
  border-radius: 20px;
  font-family: gmarket;
  font-weight: 500;
  font-size: 16px;
}

.type-zone .discription li {
  text-align: center;
  letter-spacing: -0.03em;
  color: #3c3c3c;
  margin-bottom: 10px;
  padding-left: 0px;
  word-break: keep-all;
  font-weight: 500;
  font-family: gmarket;
}

.result {
  padding: 15px;
}
.type-discription {
  margin-bottom: 14px;
  font-family: gmarket;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.2px;
  text-align: center;
  color: #000;
  margin-top: 14px;
}
.recommended-title {
  margin-bottom: 20px;
}
.loading-content {
  text-align: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading-content img {
  max-width: 169px;
}

.loading-text {
  color: #6916ff;
  font-size: 18px;
  line-height: 31px;
  font-weight: bold;
  margin-top: 20px;
}

.bottom-default {
  margin-top: 60px;
  text-align: center;
}
.bottom-default .btn-reset {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  width: 242px;
  background: #6916ff;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px;
  padding: 14px 0;
  margin-bottom: 12px;
  cursor: pointer;
}
.bottom-default .btn-mongle {
  background-color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #6916ff;
  border-radius: 50px;
  padding: 14px 0;
  border: 1px solid #6916ff;
  cursor: pointer;
}
.bottom-default .share-text {
  font-size: 14px;
  line-height: 28px;
  color: #3c3c3c;
  margin-top: 60px;
}
.bottom-default .share-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 100px;
}
.bottom-default .share-btn img {
  max-width: 70px;
}
.bottom-default .share-btn li {
  cursor: pointer;
}
.emoji-title {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: -0.42px;
  color: #3c3c3c;
}
.emoji-title span {
  padding-left: 5px;
}
.swiper-button-next {
  cursor: pointer;
}
.swiper-button-next:hover {
  border: none;
  background-color: #6916ff;
  color: #fff;
}
.type1 .recommended {
  background-color: #f48ec7;
}
.type2 .recommended {
  background-color: #a0d5c0;
}
.type3 .recommended {
  background-color: #f7abab;
}
.type4 .recommended {
  background-color: #8c9cdf;
}
.type5 .recommended {
  background-color: #e6bc8c;
}
.recommended {
  padding: 20px;
  text-align: center;
  border-radius: 7px;
}
.recommended a {
  font-weight: bold;
  font-family: gmarket;
  font-size: 16px;
  color: #fff;
}
.recommended a:hover {
  color: #fff;
}
.recommended img {
  width: 100%;
}
.recommended .recommended-title {
  margin-bottom: 20px;
  font-family: gmarket;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.12px;
  text-align: center;
  color: #fff;
}
.recommended .recommended-detail {
  text-align: center;
  margin-top: 20px;
}
.recommended .recommended-source {
  margin: 10px 0;
  font-family: gmarket;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.09px;
  text-align: center;
  color: #fff;
}
.reccommended-text ul li {
}
.reccommended-text li {
  position: relative;
  text-align: left;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 10px;
  padding-left: 20px;
  word-break: keep-all;
  font-weight: 500;
  font-family: gmarket;
}
.reccommended-text li::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 3px;
  left: 0px;
  top: 7px;
  background-color: #fff;
}
.recommended-detail {
  text-align: center;
  width: 242px;
  font-family: gmarket;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.12px;
  margin: 0 auto;
  margin-top: 16px;
  padding: 12px 44px;
  border-radius: 5px;
  color: #fff;
}
.type1 .recommended-detail {
  background-color: #f48ec7;
}
.type2 .recommended-detail {
  background-color: #a0d5c0;
}
.type3 .recommended-detail {
  background-color: #f7abab;
}
.type4 .recommended-detail {
  background-color: #8c9cdf;
}
.type5 .recommended-detail {
  background-color: #e6bc8c;
}
.result .type-image {
  padding: 0px;
  margin-top: 14px;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-11-14 21:40:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
.shake-vertical {
  -webkit-animation: shake-vertical 3s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: shake-vertical 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

@media (max-width: 991px) {
  .navbar-brand {
    padding: 7px 15px !important;
  }
  .container {
    height: auto;
  }
}
